<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Neptune Admin Panel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/notifications.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="assets/js/global.js"></script>
    <script src="assets/js/notifications.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img style="width: 31px;height: 40px;" src="{{.logo}}">&nbsp; &nbsp;Neptune Admin Panel</a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {{if .hasAdminFeatures}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                {{end}}
                <li class="nav-item">
                    <a class="nav-link" href="/v1/admin.csv">Download CSV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <form action="" method="get" onsubmit="return false">
                <input id="name" type="text" placeholder="Search">
                <div style="text-align: center;">
                    <input style="margin-top: 10px" class="button-3" type="button" value="Refresh Students" onclick="SearchStudent()">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table"></table>
            </div>
        </div>
    </div>
</div>
<div></div>
<div>
    <footer class="footer-dark" style="height: 110.5px;">
        <div class="container">
            <p class="copyright" style="padding-top: 0px;"><strong>Brandon Plank © {{.year}}</strong></p>
        </div>
    </footer>
</div>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/admin.js"></script>
</body>
</html>